<div class="mb-2">
    <button (click)="this.login()">Login</button>
    <button *ngIf="hasCode()" (click)="this.accessToken()">Access token</button><button *ngIf="hasRefreshToken()"
        (click)="this.refreshToken()">Refresh token</button>
    <button *ngIf="hasRefreshToken() || hasAccessToken()" (click)="this.revokeToken()">Revoke token</button>
    <button *ngIf="hasResponses()" (click)="this.resetResponses()" class="bg-danger-subtle">Remove responses</button>

    <app-collapsible [name]="'setConfig()'" [call]="configuration_call()"
        [request]="[]" [response]="configuration_response()"
        [error]="configuration_error()" [open]="configuration_open()"
        (toggle_open)="configuration_open.set($event)"></app-collapsible>
    <app-collapsible [name]="'DISCOVERY'" [call]="discovery_call()"
        [request]="discovery_request()" [response]="discovery_response()"
        [error]="discovery_error()" [open]="discovery_open()"
        (toggle_open)="discovery_open.set($event)"></app-collapsible>
    <app-collapsible [name]="'AUTHORIZATION'" [call]="authorization_call()"
        [request]="authorization_request()" [response]="authorization_response()"
        [error]="authorization_error()" [open]="authorization_open()"
        (toggle_open)="authorization_open.set($event)"></app-collapsible>
    <app-collapsible [name]="'TOKEN'" [call]="token_call()"
        [request]="token_request()" [response]="token_response()"
        [error]="token_error()" [open]="token_open()"
        (toggle_open)="token_open.set($event)"></app-collapsible>
    <app-collapsible [name]="'VERIFICATION'" [call]="verification_call()"
        [request]="verification_request()" [response]="verification_response()"
        [error]="verification_error()" [open]="verification_open()"
        (toggle_open)="verification_open.set($event)"></app-collapsible>
    <app-collapsible [name]="'REVOCATION'" [call]="revocation_call()"
        [request]="revocation_request()" [response]="revocation_response()"
        [error]="revocation_error()" [open]="revocation_open()"
        (toggle_open)="revocation_open.set($event)"></app-collapsible>
</div>
<div class="col col-config">
    <fieldset class="credentials d-flex border rounded-3 p-3 mb-3">
        <legend class="credentials float-none text-center w-auto px-3">Authorization server <span
                class="credentials">credentials</span></legend>
        <div class="d-flex flex-column m-auto">
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="radio" name="api" value="google-web-app" [(ngModel)]="api" > Google: Web
                application
                <button *ngIf="api() == 'google-web-app'" class="pt-2 mt-n4" style="transform: scale(.8)" mat-icon-button aria-label="Help" (click)="openDialog('500ms', '500ms')">
                    <mat-icon color="primary" fontIcon="help"></mat-icon>
                </button>
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="radio" name="api" value="google-desktop" [(ngModel)]="api">
                Google: Desktop
                <button *ngIf="api() == 'google-desktop'" class="pt-2 mt-n4" style="transform: scale(.8)" mat-icon-button aria-label="Help">
                    <mat-icon color="primary" fontIcon="help"></mat-icon>
                </button>
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="radio" name="api" value="custom" [(ngModel)]="api">
                Custom credentials
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="radio" name="api" value="custom" [(ngModel)]="api">
                Custom configuration object
            </label>
        </div>
        <!-- <div *ngIf="api() == 'google-web-app'" role="button" class="text-break text-wrap bg-body-secondary ms-2 pe-2 py-2" (click)="openDialog('1000ms', '1000ms')">
            <ul>
                <li>Google credentials must be of type 'Web application'</li>
                <li>The 'issuer' (metadata section) is "https://accounts.google.com"</li>
                <li>'authorization' endpoint uses custom parameters</li>
            </ul>
        </div> -->
    </fieldset>
    <fieldset class="border rounded-3 p-3 d-flex flex-column mb-3">
        <legend class="float-none text-center w-auto px-3">configuration </legend>
        <div class="m-auto">
            <div class="d-flex flex-wrap mb-2">
                <span class="">authorization_grant</span>
                <div class="col ms-5 ms-sm-2">
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="radio" name="grant" value="code" [(ngModel)]="authorization_grant">
                        Code.
                        (Authorization
                        code)
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="radio" name="grant" value="implicit"
                            [(ngModel)]="authorization_grant"> Implicit
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="radio" name="grant" value="password" disabled
                            [(ngModel)]="authorization_grant">Password.
                        (Resource Owner Password Credentials)
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="radio" name="grant" value="client" disabled
                            [(ngModel)]="authorization_grant"> Client.
                        (Client Credentials)
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="radio" name="grant" value="extension" disabled
                            [(ngModel)]="authorization_grant">
                        Extension. (Extension Grants)
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="radio" name="grant" value="" disabled
                            [(ngModel)]="authorization_grant"> Unseted.
                    </label>
                </div>
            </div>
            <!-- <div class="d-flex flex-wrap mb-2">
                <div class="d-flex flex-row align-items-start mb-2 me-2">
                    <input class="me-2" type="checkbox" value=true [(ngModel)]="no_discovery">
                    no_discovery
                </div>
                <span class="col bg-body-secondary ms-5 ms-sm-2">Ignored if authorization_grant is not "code"</span>
            </div> -->
            <!-- <div class="d-flex flex-wrap mb-2">
                            <div class="d-flex flex-row align-items-start mb-2 me-2">
                                <input class="me-2" type="checkbox" value=true [(ngModel)]="no_pkce">
                                no_pkce
                            </div>
                            <span class="col bg-body-secondary ms-5 ms-sm-2">Ignored if authorization_grant is not "code"</span>
                        </div>
                        <div class="d-flex flex-wrap mb-2">
                            <div class="d-flex flex-row align-items-start mb-2 me-2">
                                <input class="me-2" type="checkbox" value=true [(ngModel)]="no_state">
                                no_state
                            </div>
                            <span class="col bg-body-secondary ms-5 ms-sm-2">Ignored if authorization_grant is not "code"</span>
                        </div>
                        <div class="d-flex flex-wrap mb-2">
                            <div class="d-flex flex-row align-items-start mb-2 me-2">
                                <input class="me-2" type="checkbox" value=true [(ngModel)]="no_nonce">
                                no_nonce
                            </div>
                            <span class="col bg-body-secondary ms-5 ms-sm-2">Ignored if authorization_grant is not "code"</span>
                        </div> -->
            <!-- <div class="d-flex flex-wrap mb-2">
                <div class="d-flex flex-row align-items-start mb-2 me-2">
                    <input class="me-2" type="checkbox" value=true [(ngModel)]="test">
                    test
                </div>
                <span class="col bg-body-secondary ms-5 ms-sm-2">Ignored if authorization_grant is not "code"</span>
            </div> -->
            <div class="d-flex mb-2 gap-3">
                <!-- <div class="d-flex border border-black p-2"> -->
                    <div class="d-flex flex-column col">
                        <span class="mt-1 mb-2">test</span>
                        <span class="mb-2">no_pkce</span>
                        <span class="mb-2">no_state</span>
                        <span class="mb-2">no_nonce</span>
                    </div>
                    <div class="d-flex flex-column col">
                        <input class="me-2 my-2" type="checkbox" [(ngModel)]="test">
                        <input class="me-2 mb-2" type="checkbox" [(ngModel)]="no_pkce">
                        <input class="me-2 mb-2" type="checkbox" [(ngModel)]="no_state">
                        <input class="me-2 mb-2" type="checkbox" [(ngModel)]="no_nonce">
                    </div>
                    <label class="col text-center bg-body-secondary flex-grow-0 my-auto mx-2 px-2">Calculated values</label>
                    <div class="d-flex flex-column bg-body-secondary col ps-3 pt-2 pe-2 flex-grow-0">
                        <br class="mt-1">
                        <label class="d-flex flex-row mb-2">
                            <input class="me-2" type="checkbox" disabled [ngModel]="calculated_no_pkce()">
                        </label>
                        <label class="d-flex flex-row align-items-start mb-2">
                            <input class="me-2" type="checkbox" disabled [ngModel]="calculated_no_state()">
                        </label>
                        <label class="d-flex flex-row align-items-start mb-2">
                            <input class="me-2" type="checkbox" disabled [ngModel]="calculated_no_nonce()">
                        </label>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </fieldset>
    <fieldset *ngIf="true || api() == 'google-web-app' && authorization_grant() == 'code'"
        class="authorization d-flex border rounded-3 p-3 mb-3">
        <legend class="authorization float-none text-center w-auto px-3">authorization -> <span
                class="credentials">credentials-dependent</span></legend>
        <div class="mx-auto">
            <label class="d-flex flex-wrap mb-2">
                <span class="text-break col">
                    access_type
                </span>
                <select class="col ms-2" name="access_type" [(ngModel)]="access_type">
                    <option value="" selected>unseted (defaults to online)</option>
                    <option value="online">online</option>
                    <option value="offline">offline</option>
                </select>
            </label>
            <label class="d-flex flex-wrap mb-2">
                <span class="text-break col">
                    include_granted_scopes
                </span>
                <select class="col ms-2" [(ngModel)]="include_granted_scopes">
                    <option value="" selected>unseted (defaults to false)</option>
                    <option [ngValue]=true>true</option>
                    <option [ngValue]=false>false</option>
                </select>
            </label>
            <label class="d-flex flex-wrap mb-2">
                <span class="text-break col">
                    enable_granular_consent
                </span>
                <select class="col ms-2" [(ngModel)]="enable_granular_consent">
                    <option value="" selected>unseted (defaults to true)</option>
                    <option [ngValue]=true>true</option>
                    <option [ngValue]=false>false</option>
                </select>
            </label>
        </div>
        <!-- <div *ngIf="include_granted_scopes()" class="bg-body-secondary ms-2 p-2">
            * If 'include_granted_scopes' and granted scopes includes openid, email or profile
        </div> -->
    </fieldset>
    <fieldset class="metadata border rounded-3 p-3 d-flex flex-column mb-3">
        <legend class="metadata float-none text-center w-auto px-3">metadata -> <span
                class="credentials">credentials-dependent</span></legend>
        <div class="d-flex mb-2 gap-3">
            <div class="d-flex flex-column flex-grow-0">
                <span>issuer</span>
            </div>
            <div class="d-flex flex-column flex-grow-1" style="min-width: 0;">
                <input type="text" disabled spellcheck="false" placeholder="issuer" [(ngModel)]="issuer">
            </div>
        </div>
    </fieldset>
    <fieldset class="border rounded-3 p-3 d-flex flex-column mb-3">
        <legend class="float-none text-center w-auto px-3">parameters <span
                class="credentials ms-3">( Google dependent )</span></legend>
        <div class="d-flex mb-2 gap-3">
            <div class="d-flex flex-column flex-grow-0">
                <p>client_id</p>
                <p>client_secret</p>
                <p>redirect_uri</p>
            </div>
            <div class="d-flex flex-column flex-grow-1" style="min-width: 0;">
                <input type="text" spellcheck="false" placeholder="client_id" [(ngModel)]="client_id">
                <input type="text" spellcheck="false" placeholder="client_secret" [(ngModel)]="client_secret">
                <input type="text" disabled spellcheck="false" placeholder="redirect_uri" [(ngModel)]="redirect_uri">
            </div>
        </div>
        <div class="d-flex mb-2 gap-3">
            <span class="col">response_type</span>
            <div class="d-flex border border-black p-2">
                <div class="d-flex flex-column col">
                    <span class="mt-1 mb-2">&#x2022; code</span>
                    <span class="mb-2">&#x2022; token</span>
                    <span class="mb-2">&#x2022; id_token</span>
                    <span class="mb-2">&#x2022; none</span>
                </div>
                <div class="d-flex flex-column col">
                    <input class="me-2 my-2" type="checkbox" [(ngModel)]="code">
                    <input class="me-2 mb-2" type="checkbox" [(ngModel)]="token">
                    <input class="me-2 mb-2" type="checkbox" [(ngModel)]="id_token">
                    <input class="me-2 mb-2" type="checkbox" [(ngModel)]="none">
                </div>
                <label class="col text-center bg-body-secondary flex-grow-0 my-auto mx-2 px-2">Calculated value</label>
                <div class="d-flex flex-column bg-body-secondary col ps-3 pt-2 pe-2 flex-grow-0">
                    <label class="d-flex flex-row mb-2">
                        <input class="me-2" type="checkbox" disabled [ngModel]="calculated_code()">
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="checkbox" disabled [ngModel]="calculated_token()">
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="checkbox" disabled [ngModel]="calculated_id_token()">
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="checkbox" disabled [ngModel]="calculated_none()">
                    </label>
                </div>
            </div>
        </div>
        <div class="d-flex mb-2 gap-3">
            <span class="col">scope</span>
            <div class="d-flex border border-black p-2">
                <div class="d-flex flex-column col">
                    <span class="mt-1 mb-2">&#x2022; openid</span>
                    <span class="mb-2">&#x2022; email</span>
                    <span class="mb-2">&#x2022; profile</span>
                    <span class="mb-2 d-flex">&#x2022;
                        <textarea class="ms-1" disabled spellcheck="false" rows="2" cols="23" placeholder="api scope" (keyup)="apiScopeKeyup()" [(ngModel)]="api_scope_string"></textarea>
                    </span>
                </div>
                <div class="d-flex flex-column col">
                    <input class="me-2 my-2" type="checkbox" [(ngModel)]="openid">
                    <input class="me-2 mb-2" type="checkbox" [(ngModel)]="email">
                    <input class="me-2 mb-2" type="checkbox" [(ngModel)]="profile">
                    <input class="me-2 mb-2" type="checkbox" [disabled]="api_scope_string().trim() == ''" [(ngModel)]="api_scope">
                </div>
                <label class="col text-center bg-body-secondary flex-grow-0 my-auto mx-2 px-2">Calculated value</label>
                <div class="d-flex flex-column bg-body-secondary col ps-3 pt-2 pe-2 flex-grow-0">
                    <label class="d-flex flex-row mb-2">
                        <input class="me-2" type="checkbox" disabled [ngModel]="calculated_openid()">
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="checkbox" disabled [ngModel]="calculated_email()">
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="checkbox" disabled [ngModel]="calculated_profile()">
                    </label>
                    <label class="d-flex flex-row align-items-start mb-2">
                        <input class="me-2" type="checkbox" disabled [ngModel]="calculated_api_scope()">
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <!-- <fieldset class="d-flex justify-content-center rounded-3 p-3 mb-3">
        <legend class="float-none text-center w-auto px-3">parameters -> response_type</legend>
        <div class="d-flex flex-column col m-auto">
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" [(ngModel)]="code"> code
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" [(ngModel)]="token"> token
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" [(ngModel)]="id_token"> id_token
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" [(ngModel)]="none"> none
            </label>
        </div>
        <label class="col text-center bg-body-secondary flex-grow-0 my-auto mx-2 px-2">Calculated values</label>
        <div class="d-flex flex-column bg-body-secondary col m-auto pt-2 px-2">
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" disabled [ngModel]="calculated_code()"> code
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" disabled [ngModel]="calculated_token()"> token
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" disabled [ngModel]="calculated_id_token()"> id_token
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" disabled [ngModel]="calculated_none()"> none
            </label>
        </div>
    </fieldset> -->
    <!-- <fieldset class="d-flex border rounded-3 p-3 mb-3">
        <legend class="float-none text-center w-auto px-3">parameters -> scope</legend>
        <div class="d-flex flex-column col m-auto">
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" [(ngModel)]="openid">
                openid
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" [(ngModel)]="email">
                email
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" [(ngModel)]="profile">
                profile
            </label>
            <label class="d-flex flex-row text-break align-items-start mb-2">
                <input class="me-2" type="checkbox" [(ngModel)]="api_scope">
                {{ api_scope_string() }}
            </label>
        </div>
        <label class="col text-center bg-body-secondary flex-grow-0 my-auto mx-2 px-2">Calculated values</label>
        <div class="d-flex flex-column bg-body-secondary col m-auto pt-2 px-2">
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" disabled [ngModel]="calculated_openid()">
                openid
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" disabled [ngModel]="calculated_email()">
                email
            </label>
            <label class="d-flex flex-row align-items-start mb-2">
                <input class="me-2" type="checkbox" disabled [ngModel]="calculated_profile()">
                profile
            </label>
            <label class="d-flex flex-row text-break align-items-start mb-2">
                <input class="me-2" type="checkbox" disabled [ngModel]="calculated_api_scope()">
                {{ api_scope_string() }}
            </label>
        </div>
    </fieldset> -->
</div>
<div class="d-flex flex-column font-monospace col" style="min-height: 75vh">
    <label style="z-index: 10" class="text-end me-5 mb-n3 bg-danger text-white ms-auto px-2"
        [style.visibility]="textModified() ? 'visible' : 'hidden'">Modified by hand</label>
    <label class="bg-danger-subtle mt-3">{{configError()}}</label>
    <textarea style="field-sizing: content; min-height: 30rem;" [ngModel]="config() | json4"
        (ngModelChange)="'setConfig($event)'" spellcheck="false"></textarea>
</div>
