main {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    color: #333;
}

h1,
h2 {
    color: #004080;
}

section {
    margin-bottom: 2rem;
}
