<div class="container">
    <header class="row bg-primary text-white p-4 fs-1">NGX-OAUTH2-OIDC</header>
    <mat-card class="mat-elevation-z16 d-flex justify-center mt-5 mx-auto col-10 col-sm-8 p-5">
        <mat-card-title class="fs-1 text-center fst-italic fw-bold m-3">Login</mat-card-title>
        <mat-card-actions class="justify-content-center flex-column gap-3">
            <button mat-raised-button class="rounded fs-2 w-100 justify-content-start" (click)="loginGoogle()">
                <img class="me-2 ms-1" ngSrc="https://accounts.google.com/favicon.ico" alt="Google" width="24" height="24">
                Sign in with Google
            </button>
            <button mat-raised-button class="rounded fs-2 w-100 justify-content-start" (click)="loginGitlab()">
                <img class="me-2 ms-1" ngSrc="assets/gitlab-original.svg" alt="Gitlab" width="24" height="24">
                Sign in with GitLab
            </button>
            <button mat-raised-button class="rounded fs-2 w-100 justify-content-start" (click)="loginDropbox()">
                <img class="me-2 ms-1" ngSrc="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Dropbox_Icon.svg/43px-Dropbox_Icon.svg.png" alt="Dropbox" width="24"
                    height="24">
                Sign in with Dropbox
            </button>
        </mat-card-actions>
    </mat-card>
</div>
