<mat-dialog-actions style="min-height: 0; height: 1.5rem" class="justify-content-end p-0 pe-4">
    <!-- <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button> -->
    <mat-icon class="fs-1" mat-dialog-close aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
</mat-dialog-actions>
<!-- <h2 class="h2">Tittle</h2> -->
 <hr>
<mat-dialog-content class="pt-0 pb-3" cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" [innerHTML]="data.text">
</mat-dialog-content>

