try {
    await this.<%= oauth2 %>.interceptor();
    this.<%= oauth2 %>.isCodeIntercepted && (await this.<%= oauth2 %>.token());
    await this.<%= oauth2 %>.verifyToken();
    this.<%= oauth2 %>.idToken?.["sub"] && this.<%= router %>.navigate(["<%= route %>"]);
} catch (err) {
    console.error(err)
}
