    <%= identify(id) %> = async (cfg: IOAuth2Config) => {
        try {
            this.oauth2.setConfig(cfg);
            await this.oauth2.discovery();
            await this.oauth2.authorization()
        } catch (err) {
            console.error(err);
        }
    };
