<%= identify(id) %> = async (cfg: <%= isFunction(ioauth2config) %>) => {
    try {
        this.<%= isFunction(oauth2) %>.setConfig(cfg);
        await this.<%= isFunction(oauth2) %>.discovery();
        await this.<%= isFunction(oauth2) %>.authorization()
    } catch (err) {
        console.error(err);
    }
}
